---
import { MessageCircleCode, Pickaxe } from "@lucide/astro";
import { siteConfig } from "../config";
---

<footer class="footer footer-horizontal footer-center bg-base-200 py-10">
  <aside>
    <MessageCircleCode class="inline-block size-20" />
    <p class="max-w-xl m-auto text-lg">
      Want to chat? Email me at <a href={`mailto:${siteConfig.email}`} class="link link-hover text-primary">{siteConfig.email}</a>. {siteConfig.resume && (
        <>
          You can also find my resume <a href={siteConfig.resume} target="_blank" rel="noopener noreferrer" class="link link-hover text-primary">here</a>.
        </>
      )}
    </p>
    <p class="text-base-content/60">
      Copyright © {new Date().getFullYear()}
      
    </p>
  </aside>
</footer>
